body {
    font-family: Impact, sans-serif;
    color: #A0A0A0;
}

img {
    height: 300px;
    border: #A0A0A0 solid 2px;
}

h1, h5 {
    font-family: Impact, sans-serif;
    color: #A0A0A0;
}

.darkgrey {
    background-color: #333333;
}

.lightgrey {
    background-color: #5D5D5D;
}